<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Label Verification</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="progress">
        Total pairs: <span id="total-pairs"></span> | Completed: <span id="completed-pairs"></span> | Left: <span id="remaining-pairs"></span>
    </div>
    <div id="main-container" class="container">
         <!-- Questions will be dynamically inserted here -->
        <!-- <div class="image-container">
            <img id="image" src="" alt="Image" width="100%">
        </div>
        <div class="interaction-container">
            <div id="questions">
               
            </div>
        </div> -->
        
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
